@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

/* navbar */
.navbar {
	transition: .5s all;
}

.navbar-nav {
	font-weight: bold;
}

.navbar-nav a:hover {
	border-bottom: 2px solid #3498db;
	margin-top: 2px;
	transition: .2s all;
}

.navbar-nav a {
	transition: .2s all;
}

.btn-link a:hover {
	border-bottom: 0px;
}

.mt-4 {
	transition: .5s all;
}

/* navbar */

/* jumbotron */
.jumbotron {
	height: 100vh;
	display: grid;
	align-items: center;
	background: url('../img/bg.jpg') no-repeat;
	background-position: bottom;
	background-size: cover;
}

.display-bold {
	font-weight: bold;
}

.typewriter {
	display: inline-block;
}

.typewriter-text .display-2 {
	display: inline-block;
	overflow: hidden;
	letter-spacing: 2px;
	animation: typing 3s steps(30, end), blink .75s step-end infinite;
	white-space: nowrap;
	font-size: 6em;
	border-right: 4px solid orange;
	box-sizing: border-box;
}

.jumbotron .lead {
	font-size: 1.1em;
}

/* jumbotron */

/* jasa */
#jasa {
	text-align: center;
	width: 100%;
	height: auto;
	padding-bottom: 3%;
}

.jasa-kotak {
	width: 100%;
	height: 250px;
}

/* jasa */

/* porfolio */
#porfolio {
	text-align: center;
	width: 100%;
	height: auto;
	padding-bottom: 3%;
}

/* swiper */
.swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 400px;
	height: 320px;
	background: #fff;
	border: 2px solid #2980b9;
	padding: 1%;
}

.swiper-slide>.detail {
	text-align: center;
	padding-top: 10px;
}

.swiper-slide>.detail a {
	text-decoration: none;
	color: #141414;
}

.swiper-slide>.detail a:hover {
	color: #2980b9;
}

/* porfolio */

/* artikel */
#artikel {
	text-align: center;
	width: 100%;
	height: auto;
	padding-bottom: 3%;
}

/* artikel */

/* team */
#team {
	text-align: center;
	width: 100%;
	height: auto;
	padding: 3% 0% 3% 0%;
}

.img-team {
	background-position: center;
	background-size: cover;
	width: 200px;
	height: 200px;
	margin: auto;
	margin-bottom: 5%;
	border-radius: 50%;
}

/* team */

/* footer */
#footer {
	background: #1b2531;
	width: 100%;
	height: auto;
	padding: 3% 0% 3% 0%;
	color: #fff;
}

#footer p {
	color: rgb(165, 165, 165);
}

.bullet-gone {
	list-style-type: none;
	margin-left: -15%;
}

.bullet-gone a {
	color: rgb(165, 165, 165);
}

.right-border {
	border-right: 2px solid #fff;
}

.text-sosmed a {
	margin-right: 20px;
	color: rgb(165, 165, 165);
}

/* footer */

/* button */
.btn-blue {
	background: linear-gradient(90deg, rgba(231, 76, 60, 1) 0%, rgba(192, 57, 43, 1) 100%);
	color: #fff;
	border-radius: 20px;
}

.btn-left {
	background: #3498db;
	color: #fff;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.btn-right {
	background: #2980b9;
	color: #fff;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

/* button */

/* material */
.display-4 {
	font-size: 2.5em;
}

.hr-blue {
	background: #2980b9;
	width: 10%;
	height: 2px;
}

.hr1 {
	background: #2980b9;
	height: 5px;
	width: 50%;
	float: left;
}

.hr2 {
	background: #2c3e50;
	height: 5px;
	width: 50%;
	float: left;
}

/* material */

/* keyframes */
@keyframes typing {
	from {
		width: 0%
	}

	to {
		width: 100%
	}
}

@keyframes blink {

	from,
	to {
		border-color: transparent
	}

	50% {
		border-color: orange;
	}
}

/* keyframes */

/* @ media screen */
@media (max-width: 768px) {
	.navbar {
		background: #fff !important;
		margin-top: -5px !important;
	}

	.navbar-nav {
		text-align: center;
	}

	.jumbotron .container p {
		font-size: 1em;
	}

	.jumbotron {
		background: url('../img/bg-mobile.jpg') no-repeat;
		background-position: top;
		background-size: cover;
	}
}

@media (max-width: 425px) {
	.jumbotron .container .typewriter .typewriter-text .display-2 {
		font-size: 4em;
		text-shadow: 2px 2px #000;
	}
}
